<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.stx.mapper.UserMapper">
	
	<!-- 将新注册的用户添加到数据库中 -->
	<insert id="addUserToDb" parameterType="com.stx.pojo.User" useGeneratedKeys="true" keyProperty="id">
		insert into user(name,username,password) values(#{name},#{username},#{password})
	</insert>
	
	<!-- 注册时判断用户名是否注册 -->
	<select id="testUserIsRegister" resultType="int" parameterType="com.stx.pojo.User">
		select count(*) from user where username like #{username} or name like #{name}
	</select>
	
	<!-- 根据username查到user对象 -->
	<select id="selUserByUserName" resultType="com.stx.pojo.User" parameterType="String">
		select * from user where username like #{username}
	</select>

	<!-- 登录时判断输入的用户和密码是否正确 -->
	<select id="testUserLogin" resultType="int" parameterType="com.stx.pojo.User">
		select count(*) from user where username like #{username} and password like #{password}
	</select>
	
	<!-- ajax测试登录时用户名是否存在，同时注册时检测用户名也用到了此语句 -->
	<select id="test_loginUsername" parameterType="String" resultType="int">
		select count(*) from user where username like #{username}
	</select>
	<!-- ajax测试登录密码是否输入正确 -->
	<select id="test_loginPwd" parameterType="String" resultType="int">
		select count(*) from user where password like #{password}
	</select>
</mapper>